@import './components/header.css';
@import './components/popups.css';
#footer {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 16px;
  background: #222;
  color: #999;
}

.home-page {
  flex-grow: 1;
  margin: 0 !important;
  position: relative;
  width: 100% !important;
  min-width: 300px;
  min-height: 580px;
}

.home-page-title {
  padding: 5px 5px 75px !important;
  color: white !important;
}

.home-page-subtitle {
  padding: 15px 5px 5px !important;
  color: white !important;
}

.home-page-subtitle a:hover {
  color: white !important;
}

.home-page-subtitle button:hover {
  color: white !important;
}

.background-image {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-position: center 40%;
  z-index: -1;
}

.background-backdrop {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: black;
  opacity: 0.4;
  transition: opacity 0.3s;
}