.grid-container {
  flex-grow: 1;
  padding: 20px;
}

.grid-item {
  padding: 10px !important;
}

.page-title {
  font-size: 1.5em;
  text-align: left !important;
}

.page-title {
  font-size: 1.5em;
  text-align: left !important;
}

.popup-icons {
  padding: 10px 40px 10px !important;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon {
  text-decoration: none;
  padding: 0 15px;
  text-align: center;
  display: block !important;
  cursor: pointer;
}

.icon:before {
  font-family: FontAwesome;
  font-size: 1.75em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon:hover {
  color: #79c6e0;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.section-header {
  text-transform: uppercase;
  letter-spacing: -.05em;
  padding-bottom: 0.25em;
  font: bold 16px/1.25 "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif !important;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}

.list-wrapper {
  padding: 0 50px;
}

.list-item {
  padding: 10px 0;
  line-height: 1.3rem;
  text-align: center;
  font-size: 0.9rem;
}

.list-item a {
  cursor: pointer;
}

.list-item a:hover {
  text-decoration: underline;
}

.list-item.author {
  font-size: 1.5rem;
}

.pointer {
  cursor: pointer;
}

.account-icon {
  height: 1.4em !important;
  width: 1.4em !important;
}

.red-color {
  color: #d65e5e;
}

.blue-color {
  color: #90c3da;
}

.purple-color {
  color: #7d6ab5;
}

.green-color {
  color: #59a542;
}

.orange-color {
  color: #e2b63d;
}

.black-color {
  color: black;
}

.grey-color {
  color: #9E9E9E;
}